{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>로그인</h2>
  <form method="POST">
    {% csrf_token %}
    <label for="username">Username:</label><br>
    <input type="text" name="username" id="username"><br><br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" id="password"><br><br>

    <button type="submit">로그인</button>
  </form>

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
